In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [59]:
train = pd.read_csv(r'C:\Users\Varsha\Desktop\Springboard\Capstone2\Data\cs-training.csv')
test = pd.read_csv(r'C:\Users\Varsha\Desktop\Springboard\Capstone2\Data\cs-test.csv')

In [60]:
train.head()

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
1,2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
2,3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
3,4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
4,5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0

In [61]:
test.head()

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,NaN,0.885519,43,0,0.177513,5700.0,4,0,0,0,0.0
1,2,NaN,0.463295,57,0,0.527237,9141.0,15,0,4,0,2.0
2,3,NaN,0.043275,59,0,0.687648,5083.0,12,0,1,0,2.0
3,4,NaN,0.280308,38,1,0.925961,3200.0,7,0,2,0,0.0
4,5,NaN,1.000000,27,0,0.019917,3865.0,4,0,0,0,1.0

In [62]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 12 columns):
Unnamed: 0                              150000 non-null int64
SeriousDlqin2yrs                        150000 non-null int64
RevolvingUtilizationOfUnsecuredLines    150000 non-null float64
age                                     150000 non-null int64
NumberOfTime30-59DaysPastDueNotWorse    150000 non-null int64
DebtRatio                               150000 non-null float64
MonthlyIncome                           120269 non-null float64
NumberOfOpenCreditLinesAndLoans         150000 non-null int64
NumberOfTimes90DaysLate                 150000 non-null int64
NumberRealEstateLoansOrLines            150000 non-null int64
NumberOfTime60-89DaysPastDueNotWorse    150000 non-null int64
NumberOfDependents                      146076 non-null float64
dtypes: float64(4), int64(8)
memory usage: 13.7 MB

In [63]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101503 entries, 0 to 101502
Data columns (total 12 columns):
Unnamed: 0                              101503 non-null int64
SeriousDlqin2yrs                        0 non-null float64
RevolvingUtilizationOfUnsecuredLines    101503 non-null float64
age                                     101503 non-null int64
NumberOfTime30-59DaysPastDueNotWorse    101503 non-null int64
DebtRatio                               101503 non-null float64
MonthlyIncome                           81400 non-null float64
NumberOfOpenCreditLinesAndLoans         101503 non-null int64
NumberOfTimes90DaysLate                 101503 non-null int64
NumberRealEstateLoansOrLines            101503 non-null int64
NumberOfTime60-89DaysPastDueNotWorse    101503 non-null int64
NumberOfDependents                      98877 non-null float64
dtypes: float64(5), int64(7)
memory usage: 9.3 MB

In [64]:
missing_train= pd.concat([train.isna().sum(),train.isna().mean()*100], axis=1)
missing_train.columns=['count', '%']
missing_train

                                      count          %
Unnamed: 0                                0   0.000000
SeriousDlqin2yrs                          0   0.000000
RevolvingUtilizationOfUnsecuredLines      0   0.000000
age                                       0   0.000000
NumberOfTime30-59DaysPastDueNotWorse      0   0.000000
DebtRatio                                 0   0.000000
MonthlyIncome                         29731  19.820667
NumberOfOpenCreditLinesAndLoans           0   0.000000
NumberOfTimes90DaysLate                   0   0.000000
NumberRealEstateLoansOrLines              0   0.000000
NumberOfTime60-89DaysPastDueNotWorse      0   0.000000
NumberOfDependents                     3924   2.616000

In [66]:
missing_test= pd.concat([test.isna().sum(),test.isna().mean()*100], axis=1)
missing_test.columns=['count', '%']
missing_test

                                       count           %
Unnamed: 0                                 0    0.000000
SeriousDlqin2yrs                      101503  100.000000
RevolvingUtilizationOfUnsecuredLines       0    0.000000
age                                        0    0.000000
NumberOfTime30-59DaysPastDueNotWorse       0    0.000000
DebtRatio                                  0    0.000000
MonthlyIncome                          20103   19.805326
NumberOfOpenCreditLinesAndLoans            0    0.000000
NumberOfTimes90DaysLate                    0    0.000000
NumberRealEstateLoansOrLines               0    0.000000
NumberOfTime60-89DaysPastDueNotWorse       0    0.000000
NumberOfDependents                      2626    2.587116

In [67]:
data = pd.concat([train,test])
data.head()
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 251503 entries, 0 to 101502
Data columns (total 12 columns):
Unnamed: 0                              251503 non-null int64
SeriousDlqin2yrs                        150000 non-null float64
RevolvingUtilizationOfUnsecuredLines    251503 non-null float64
age                                     251503 non-null int64
NumberOfTime30-59DaysPastDueNotWorse    251503 non-null int64
DebtRatio                               251503 non-null float64
MonthlyIncome                           201669 non-null float64
NumberOfOpenCreditLinesAndLoans         251503 non-null int64
NumberOfTimes90DaysLate                 251503 non-null int64
NumberRealEstateLoansOrLines            251503 non-null int64
NumberOfTime60-89DaysPastDueNotWorse    251503 non-null int64
NumberOfDependents                      244953 non-null float64
dtypes: float64(5), int64(7)
memory usage: 24.9 MB

In [52]:
missing= pd.concat([data.isna().sum(),data.isna().mean()*100], axis=1)
missing.columns=['count', '%']
missing

                                       count          %
Unnamed: 0                                 0   0.000000
SeriousDlqin2yrs                      101503  40.358564
RevolvingUtilizationOfUnsecuredLines       0   0.000000
age                                        0   0.000000
NumberOfTime30-59DaysPastDueNotWorse       0   0.000000
DebtRatio                                  0   0.000000
MonthlyIncome                          49834  19.814475
NumberOfOpenCreditLinesAndLoans            0   0.000000
NumberOfTimes90DaysLate                    0   0.000000
NumberRealEstateLoansOrLines               0   0.000000
NumberOfTime60-89DaysPastDueNotWorse       0   0.000000
NumberOfDependents                      6550   2.604343

In [58]:
data[pd.isnull(data['SeriousDlqin2yrs'])]

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,NaN,0.885519,43,0,0.177513,5700.0,4,0,0,0,0.0
1,2,NaN,0.463295,57,0,0.527237,9141.0,15,0,4,0,2.0
2,3,NaN,0.043275,59,0,0.687648,5083.0,12,0,1,0,2.0
3,4,NaN,0.280308,38,1,0.925961,3200.0,7,0,2,0,0.0
4,5,NaN,1.000000,27,0,0.019917,3865.0,4,0,0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
101498,101499,NaN,0.282653,24,0,0.068522,1400.0,5,0,0,0,0.0
101499,101500,NaN,0.922156,36,3,0.934217,7615.0,8,0,2,0,4.0
101500,101501,NaN,0.081596,70,0,836.000000,NaN,3,0,0,0,NaN
101501,101502,NaN,0.335457,56,0,3568.000000,NaN,8,0,2,1,3.0
101502,101503,NaN,0.441842,29,0,0.198918,5916.0,12,0,0,0,0.0